<form action="" method="post">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="User Email" id="email" placeholder="ejemplo@ejemplo.com" />
  <label for="password" class="sr-only">Contraseña</label>
  <input type="password" name="User Password" id="password" placeholder="" />
</form>